<div class="filter-container">
<span>Filter:</span>
<input type="radio" name="filter" value="all" [(ngModel)]="selectedRadioButton" (change)="onSelectedRadioButtoonChanged()"/>
<span>{{'All (' + all + ')'}}</span>

<input type="radio" name="filter" value="true" [(ngModel)]="selectedRadioButton" (change)="onSelectedRadioButtoonChanged()"/>
<span>{{'In Stock (' + inStock + ')'}}</span>

<input type="radio" name="filter" value="false" [(ngModel)]="selectedRadioButton" (change)="onSelectedRadioButtoonChanged()"/>
<span>{{'Out Of Stock (' +  outOfStock + ')'}}</span>

<div>  
